[Unit]
Description=VictoriaMetrics
After=network.target

[Service]
ExecStart={{ victoria_metrics_bin }} -storageDataPath={{ victoria_metrics_dir }} -httpListenAddr=0.0.0.0:8428 -retentionPeriod=90d
User=victoriametrics
Group=victoriametrics
Restart=always
LimitNOFILE=4096

[Install]
WantedBy=multi-user.target
